img {
  width: 100%;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../Images/range_background.jpg');
  background-position: center;
  background-size: cover;
}

.registration-container {
  background-color: white;
}

.registration-sidebar {
  background: black;
}

img.loading-gif {
  max-width: 40px;
  margin: 20px;
}
