.bookings {
  padding: 10px;
  background-color: white;
}
.booking {
  background: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(90, 90, 90);
  align-items: center;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 20px;
}

.deleting-booking-spinner {
  width: 96px;
  height: 82px;
}

.cancel-booking-button {
  max-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-content {
  width: 60%;
  display: flex;
  color: black;
  flex-direction: column;
}

.booking-content span {
  margin: 0 10px;
}

.booking-content p {
  display: flex;
  align-items: center;
}

.see-all-cars-link {
  font-size: 20px;
  padding: 10px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

.see-all-cars-link:hover {
  text-decoration: none;
  color: white;
}

.booking-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
}
