.section-velar {
  background-image: url('../../Images/velar.png');
}

.section-evoque {
  background-image: url('../../Images/evoque.png');
}

.section-sport {
  background-image: url('../../Images/sport.png');
}

.section-discovery {
  background-image: url('../../Images//discovery.png');
}

.section-velar,
.section-evoque,
.section-sport,
.section-discovery {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.inner-section {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}

.content {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.picture {
  width: 60%;
  height: 100vh;
}

.car-details {
  padding-left: 0;
}

@media (max-width: 900px) {
  .picture {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}
