.bookings {
  padding: 10px;
  background-color: white;
}
.booking {
  background: white;
  display: flex;
  justify-content: space-between;
  height: 100px;
  border: 1px solid rgb(90, 90, 90);
  align-items: center;
  padding: 10px 20px;
  margin: 10px auto;
}
.booking h3 {
  font-size: 13px;
  color: black;
}

.deleting-booking-spinner {
  width: 96px;
  height: 82px;
}

.cancel-booking-button {
  max-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
